.contenido {
    width: 70%;
    margin: auto;
}
.contenido h2 {
    text-align: center;
    margin: 20px;
}
.contenido .contenido_ver_mas { 
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
}
.contenido .contenido_ver_mas img {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgb(20, 18, 18, 0.3);
}
.contenido .contenido_ver_mas .detalle_producto {
    text-align: left;
    padding-left: 20px;
}
.contenido .contenido_ver_mas .detalle_producto p {
    margin-bottom: 0;
    padding-left: 10px;
}

/* medias Querys para pantalla de 767px*/

@media screen and (max-width: 767px) {
    .contenido .contenido_ver_mas img {
        width: 100%;
    }
    .contenido .contenido_ver_mas { 
        justify-content: center;
        gap: 20px;
    }
}

/* medias Querys para pantalla de 767px*/

@media screen and (max-width: 576px) {
    .contenido .contenido_ver_mas { 
        flex-flow: column wrap;
    }
}