/* estilos de las card de productos */

.contenido_producto { 
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 30px; 
    margin-top: 30px;
}
.contenido_producto .card_producto {
    width: 200px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 10px 10px 10px rgb(20, 18, 18, 0.3);
}
.contenido_producto .card_producto .imagen_producto hr {
    margin: 0px;
}
.contenido_producto .card_producto img {
    width: 100%;
    padding: 10px;
}
.contenido_producto .card_producto .Informacion_producto p {
    padding: 10px;
    margin-bottom: 0;
}
.contenido_producto .card_producto .boton_verMas {
    width: 100%;
    padding: 10px;
}


